In [12]:
import numpy as np 
import pandas as pd 
a = [95,65,75]

servar = pd.Series(a, index = ["Python", "DSA", "DBMS"])

print(servar)

Python    95
DSA       65
DBMS      75
dtype: int64

In [13]:
servar.keys()

Index(['Python', 'DSA', 'DBMS'], dtype='object')

In [14]:
servar.values

array([95, 65, 75])

In [15]:
servar.items

<bound method Series.items of Python    95
DSA       65
DBMS      75
dtype: int64>

In [16]:
d={"name" : "Husain" , "Course": "Aeronotics" , "Address":"Mars"}
d

{'name': 'Husain', 'Course': 'Aeronotics', 'Address': 'Mars'}

In [17]:
dd = pd.Series(d)
dd

name           Husain
Course     Aeronotics
Address          Mars
dtype: object

In [18]:
dd.keys()

Index(['name', 'Course', 'Address'], dtype='object')

In [19]:
game = pd.DataFrame(np.random.randint(1,100,(4,3)) , index = ['EK',"DO","TEEN","CHAAR"] , columns =[ "Python", "DS" , "CHAPAK"] )
game

       Python  DS  CHAPAK
EK          2  14      11
DO         83   2      23
TEEN       41   4      11
CHAAR      45  89      96

In [ ]:
game.loc["DO"]

In [ ]:
game.loc[["DO","CHAAR"]]

In [ ]:
game.iloc[2]

In [ ]:
game["Names"] = ["hhh" , "zzz" , "jjj" , "kkk"]
game

In [ ]:
game.set_index('Name')
game

In [ ]:
game["Total"] = game["MACHLI"] + game["PANI MAI GAYI"] + game['CHAPAK']

In [ ]:
game

In [ ]:
game.drop("Name" , axis=1 , inplace=True)
game

In [ ]:
game1 = pd.read_csv('provisional.csv')
game1

Assignment

In [21]:
import pandas as pd

product_id = [101, 102, 103, 104, 105]
product_name = ['Product A', 'Product B', 'Product C', 'Product D', 'Product E']
product_price = [10, 20, 15, 30, 12]

df = pd.DataFrame({'ProductID': product_id,'ProductName': product_name,'ProductPrice': product_price})

print(df)

   ProductID ProductName  ProductPrice
0        101   Product A            10
1        102   Product B            20
2        103   Product C            15
3        104   Product D            30
4        105   Product E            12

In [1]:
df["ProductID"]

NameError: name 'df' is not defined

In [ ]:
df["ProductName"]

In [ ]:
df["ProductPrice"]

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[4]

In [ ]:
df.iloc[0]

In [ ]:
df.loc['3':]

In [ ]:
df.iloc[2,2]

In [ ]:
df.iloc(1,2)

In [22]:
import numpy as np 
import pandas as pd

In [23]:
df = pd.DataFrame({"A":[1,2,np.nan],
                   "B":[5,np.nan,np.nan],
                   "C":[1,2,3]    
})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [24]:
df['B'].fillna(value = df['C'].mean())

0    5.0
1    2.0
2    2.0
Name: B, dtype: float64

In [25]:
df.loc['1':'3' , ['ProductID' , 'ProductName' ]]

KeyError: "None of [Index(['ProductID', 'ProductName'], dtype='object')] are in the [columns]"

In [26]:
df.loc['0':'2' , ['ProductPrice']]

KeyError: "None of [Index(['ProductPrice'], dtype='object')] are in the [columns]"

In [27]:
game.loc[game['MACHLI']>50 , ]

KeyError: 'MACHLI'

In [28]:
game.loc["DO":"CHAAR",game.columns!="DS"]

       Python  CHAPAK
DO         83      23
TEEN       41      11
CHAAR      45      96

In [29]:
game.loc[game['Python']<40,'Python']=41

In [30]:
game

       Python  DS  CHAPAK
EK         41  14      11
DO         83   2      23
TEEN       41   4      11
CHAAR      45  89      96

In [35]:
game=game+23
game

       Python   DS  CHAPAK
EK        110   83      80
DO        146   71      92
TEEN      110   73      80
CHAAR     114  146     146

In [36]:
game[game>100]=100

In [33]:
game

       Python   DS  CHAPAK
EK         64   37      34
DO        100   25      46
TEEN       64   27      34
CHAAR      68  100     100

In [38]:
game[game.index.str.startswith('E')]

    Python  DS  CHAPAK
EK     100  83      80

In [39]:
game[game.index.str.endswith('N')]

      Python  DS  CHAPAK
TEEN     100  73      80

In [40]:
game['Total'] = game['Python'] + game['DS'] + game['CHAPAK']
game

       Python   DS  CHAPAK  Total
EK        100   83      80    263
DO        100   71      92    263
TEEN      100   73      80    253
CHAAR     100  100     100    300

In [42]:
game['per'] = game['Total']/3
game

       Python   DS  CHAPAK  Total         per
EK        100   83      80    263   87.666667
DO        100   71      92    263   87.666667
TEEN      100   73      80    253   84.333333
CHAAR     100  100     100    300  100.000000

In [48]:
game['Result'] = np.where(game["per"]<99 , "Fail" , "Pass")
game

       Python   DS  CHAPAK  Total         per Result
EK        100   83      80    263   87.666667   Fail
DO        100   71      92    263   87.666667   Fail
TEEN      100   73      80    253   84.333333   Fail
CHAAR     100  100     100    300  100.000000   Pass

In [57]:
game.loc[game['per'] > 40 , 'Grade'] = 'B'
game.loc[game['per'] > 50 , 'Grade'] = 'A'

In [58]:
game

       Python   DS  CHAPAK  Total         per Result Grade
EK        100   83      80    263   87.666667   Fail     A
DO        100   71      92    263   87.666667   Fail     A
TEEN      100   73      80    253   84.333333   Fail     A
CHAAR     100  100     100    300  100.000000   Pass     A

In [74]:
game['per'].min()

84.33333333333333

In [73]:
game['per'].max()

100.0

In [77]:
game.describe()

       Python          DS      CHAPAK       Total         per
count     4.0    4.000000    4.000000    4.000000    4.000000
mean    100.0   81.750000   88.000000  269.750000   89.916667
std       0.0   13.250786    9.797959   20.710303    6.903434
min     100.0   71.000000   80.000000  253.000000   84.333333
25%     100.0   72.500000   80.000000  260.500000   86.833333
50%     100.0   78.000000   86.000000  263.000000   87.666667
75%     100.0   87.250000   94.000000  272.250000   90.750000
max     100.0  100.000000  100.000000  300.000000  100.000000